<<<<<<< HEAD
<div class="container py-2">
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-4">
        <%= user.name %>
      <%end%>
        </div>
    </div>
</div>
=======
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Matchs",  tournament_path(@tournament), class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Joueurs",  tournament_users_path(@tournament), class:"nav-link active" %>
    </li>
  </ul>
</div>



 <div class="container py-2" style="width: 800px;">
  <h2 ><%= @tournament.name %></h2>
  <h4>Liste des joueurs</h4>
    <ul>
      <% @users.each do |user| %>
        <%= render "shared/player_card", user: user %>
      <% end %>
    </ul>
  </div>
>>>>>>> 699bb89050303b18d3c9cc39552ac1445ebbbda9
