<%= render 'shared/tabs' %>
<div class="container-fluid px-5">
  <h2 class='text-center my-3'>- Liste des inscrits à <%= @tournament.name %> -</h2>
  <div class="row">
    <div class="col-md-2">
      <div class="card px-2">
        <%= render 'filters', tournament: @tournament %>
      </div>
    </div>
    <div class="col-md-8 ">
      <h2 id="no-players" class="d-none">Pas de joueurs pour ces critères</h2>
      <div id="player-cards" class="justify-content-around">
        <%= render @registrations %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card p-2">
        <%= render 'shared/match_form' %>
      </div>
    </div>
  </div>
</div>
