<%= render 'shared/tabs' %>
<div class="container-fluid px-5">
  <h4 class='text-center my-3'>- Liste des inscrits au <%= @tournament.name %> -</h4>
  <div class="row">
    <div class="col-md-2">
      <div class="card px-2 shadow">
        <%= render 'filters', tournament: @tournament %>
      </div>
    </div>
    <div class="col-md-8 ">
      <p id="no-players" class="d-none py-4">Pas de joueurs pour ces critères</p>
      <div id="player-cards" class="justify-content-around">
        <%= render @registrations %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card px-1 py-2 border-light shadow rounded">
        <%= render 'shared/match_form' %>
      </div>
      <div>
        <%= render 'shared/matches_list' %>
      </div>
    </div>
  </div>
</div>
