<div class="container">
  <%= simple_form_for @tournament do |form|%>
    <%= form.input :name %>
    <%= form.input :city, input_html: {id:'city_form', class: "autocomplete"}, as: :string %>
    <%= form.input :courts_number %>
    <%= form.input :begin_at, input_html: { id:'start_date', class: "datepicker" }, as: :string %>
    <%= form.input :end_at, input_html: { id:'end_date', class: "datepicker" }, as: :string %>
    <%= form.submit %>
    <% end %>
</div>








