<div class="container datepicker">
  <%= simple_form_for tournament, remote: true do |form|%>
    <%= form.input :name, label: "Nom" %>
    <%= form.input :city, input_html: {id:'city_form', class: "autocomplete"}, label: "Ville", as: :string %>
    <%= form.input :courts_number, label: "Nombre de courts", min_max: 1 %>
    <%= form.input :match_duration, label: "Durée de matchs par défaut (en minutes)", default: 90 %>
    <%= form.input :begin_at, input_html: { id:'start_date' }, label: "Début", as: :string %>
    <%= form.input :end_at, input_html: { id:'end_date'}, label: "Fin", as: :string %>
    <%= form.input :photo %>
    <%= form.input :photo_cache, as: :hidden %>


    <%= form.submit "Valider", method: :post, class: "btn btn-outline-secondary" %>
  <% end %>
</div>








