<div class="container">
  <%= simple_form_for @tournament do |form|%>
    <%= form.input :name %>
    <%= form.input :city %>
    <%= form.input :courts_number%>
    <%= form.input :begin_at %>
    <%= form.input :end_at %>
    <%= form.submit %>
  <% end %>
</div>
