

<div class="card mb-2" style="width: 18rem;">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtj_afZu3Qh52f5mJmGDjpPC0w6DnIUE598E4sUJVlM00uiUcC" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= tournament.name %></h5>
    <p class="card-text"><%= tournament.city %></p>
    <p class="card-text">Du <%= tournament.begin_at.day %>.<%= tournament.begin_at.day %> au <%= tournament.end_at.day %>.<%= tournament.end_at.day %></p>
    <% if current_user.supervisor  %>
      <%= link_to "Show", tournament_path(tournament), class: "btn btn-outline-secondary btn-block"%>
      <%= link_to "Update", tournament_path(tournament), method: :patch, class: "btn btn-outline-secondary btn-block"%>
    <% end  %>
  </div>
</div>


