<div class="col-xs-12 col-sm-4">

  <div class="card mb-2" style="width: 18rem;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtj_afZu3Qh52f5mJmGDjpPC0w6DnIUE598E4sUJVlM00uiUcC" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= tournament.name %></h5>
      <p class="card-text"><%= tournament.city %></p>
      <p class="card-date">Du <%= tournament.begin_at.strftime("%d/%m/%Y") %> au <%= tournament.end_at.strftime("%d/%m/%Y") %></p>
      <% if current_user.supervisor  %>
        <%= link_to "Gestion des matchs", registrations_path(tournament), class: "btn btn-outline-secondary btn-block"%>
        <%= link_to "Modifier", edit_tournament_path(tournament), class: "btn btn-outline-secondary btn-block"%>
        <% end  %>
    </div>
  </div>


</div>
