<div class="row">
    <div class="col-sm-9" style="padding-left: 20px;">
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="nav-item">
          <%= link_to "Matchs",  tournament_path(@tournament), class:"nav-link active" %>
          </li>
          <li class="nav-item">
          <%= link_to "Joueurs",  tournament_users_path(@tournament), class:"nav-link" %>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-sm-3 court">
          <% @tournament.matches.order(created_at: :desc).each do |match| %>
            <%= render "shared/card_match", match: match %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h2><%= @tournament.name %></h2>
        <%= link_to "Envoyer les convocations", convocations_grouped_send_tournament_path(@tournament), method: :post, class: "btn btn-outline-success btn-sm" %>
      <button type="button" class="btn btn-outline-dark btn-sm" style="margin-top: 25px; margin-bottom: 25px" data-toggle="modal" data-target="#create_match">
        Créations de matchs
      </button>
      <% @tournament.matches.order(created_at: :desc).each do |match| %>
        <%= render "shared/card_match", match: match %>
      <% end %>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="create_match" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Création du match</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@tournament, @match]) do |f| %>
          <%= f.simple_fields_for :convocations, Convocation.new do |convocation| %>
            <%= convocation.input :user_id, collection: @tournament.users %>
          <% end %>
          <%= f.simple_fields_for :convocations, Convocation.new do |convocation| %>
            <%= convocation.input :user_id, collection: @tournament.users %>
          <% end %>
          <div class="form-inputs">
            <%= f.input :begin_at %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Créer le match" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
