<div class="container">
  <div class="row">
    <h2> <%= @tournament.name %> </h2>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>Liste des matchs</h4>
      <ul>
        <% @tournament.matches.each do |match| %>
          <li>
            <%= match.begin_at %>
            <ol>
              <% match.convocations.each do |convocation| %>
              <li>
                <%= convocation.user.first_name %>
                <%= convocation.user.last_name %>
                <%= convocation.user.club %>
                <%= convocation.user.ranking %>
                <%= convocation.status %>
              </li>
              <% end %>
            </ol>
            <%= simple_form_for([match]) do |f| %>
              <div class="form-inputs">
                <%= f.input :begin_at %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Update", method: :patch, class: "btn btn-primary"  %>
              </div>
            <% end %>
            <%= link_to "Delete", match_path(match), method: :delete, class: 'btn btn-primary'%>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Formulaire de création de match</h4>
      <%= simple_form_for([@tournament, @match]) do |f| %>
        <div class="form-inputs">
          <%= f.input :begin_at %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Create" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
