<div class="card border-secondary mb-6">
  <div class="card-header d-flex justify-content-between">
    <%= convocation.match.tournament.name %>
           <% if convocation.status.to_s == "refused" %>
      <i class="far fa-times-circle" style="color: red; font-size: 25px;"></i>
      <% elsif convocation.status.to_s == "pending"  %>
      <i class="far fa-clock" style="color: orange; font-size: 25px;"></i>
      <% else %>
      <i class="far fa-check-circle" style="color: green; font-size: 25px;"></i>
      <% end %>
  </div>
  <div class="card-body text-secondary">
    <p class="card-text">le : <%= convocation.match.begin_at.day %> . <%= convocation.match.begin_at.month %> . <%= convocation.match.begin_at.year %> à : <%= convocation.match.begin_at.hour %> h <%= convocation.match.begin_at.min %></p>
    </div>
    <div class="card-footer d-flex justify-content-around">
      <button type="button" class="btn btn-danger btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off"><%= link_to "Refusez", refuse_player_convocation_path(convocation), method: :post, remote: true %></button>
      <button type="button" class="btn btn-success btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off"><%= link_to "Acceptez", accept_player_convocation_path(convocation), method: :post, remote: true %></button>
      </div>
</div>
