<div class="card border-secondary mb-3">
  <div class="card-header d-flex justify-content-between">
    <%= convocation.match.tournament.name %>
      <% if convocation.status.to_s == "refused" %>
        <button type="button" class="btn btn-danger btn-sm"><%= convocation.status.capitalize %></button>
      <% else %>
        <button type="button" class="btn btn-success btn-sm"><%= convocation.status.capitalize %></button>
      <% end %>
  </div>
  <div class="card-body text-secondary">
    <p class="card-text">Match prévu le : <%= convocation.match.begin_at.day %> . <%= convocation.match.begin_at.month %> . <%= convocation.match.begin_at.year %> à : <%= convocation.match.begin_at.hour %> h <%= convocation.match.begin_at.min %></p>
      <button type="button"><%= link_to "Refuse", refuse_player_convocation_path(convocation), method: :post, remote: true %></button>
      <button type="button"><%= link_to "Accept", accept_player_convocation_path(convocation), method: :post, remote: true %></button>
  </div>
</div>
