<div class="card w-100 my-1 shadow-sm" style="background: #06AED3" data-match-id="<%= match.id %>" id="card-<%= match.id %>"  >
  <% match.convocations.each do |convocation| %>
    <div class="card-body text-white" >
      <div class="card-text d-flex justify-content-between" style="opacity: 1">
        <div class="w-70" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bolder; color: white; ">
          <%= convocation.user.first_name %> <%= convocation.user.last_name %> (#<%= convocation.registration.category.first(3) %>)
        </div>
        <% if convocation.refused? %>
          <i class="far fa-times-circle red-color pl-2 font-weight-bold"></i>
        <% elsif convocation.pending? %>
          <i class="far fa-clock orange-color pl-2 font-weight-bold"></i>
        <% elsif convocation.accepted?%>
          <i class="far fa-check-circle green-color pl-2 font-weight-bold"></i>
        <% elsif convocation.to_be_sent?%>
          <i class="far fa-envelope orange-color pl-2 font-weight-bold"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="maj_match" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier les paramètres du match</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([match]) do |f| %>
          <div class="form-inputs">
            <%= f.input :begin_at %>
          </div>
      </div>
      <div class="modal-footer">
        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour", method: :patch, class:'btn btn-warning'  %>
          <%= link_to "Supprimer", match_path(match), method: :delete, class:'btn btn-secondary'%>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
