<div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "Mes convocations",  player_convocations_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Mes disponibilités",  player_availabilities_path, class:"nav-link active" %>
      </li>
    </ul>
</div>



<div class="container">
  <div class="row">
    <div class="col-7">
      <% if @availabilities.empty? %>
      <div class="text-center pt-5 ">
        N'ayant pas précisé vos disponibilités, le juge arbitre peut vous convoquer à toute heure de la journée ! </div>
      <% else %>

        <% @availabilities.each do |availability| %>
          <%= simple_form_for [:player, availability] do |form|%>
           <div class="row pt-4 datepicker">
            <div class="col-5 form-inline">
              <%= form.input :begin_at, input_html: { id:'start_date'}, label_html: { class: 'mr-2' }, as: :string, class: "form-control", label: "Du" %>
            </div>
            <div class="col-5 form-inline">
              <%= form.input :end_at, input_html: { id:'end_date'}, label_html: { class: 'mr-2' }, as: :string, class: "form-control", label: "au" %>
            </div>
            <div class="col-1">
              <button type="submit" class="btn btn-light">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
            <% end %>
            <div class="col-1">
              <%= link_to player_availability_path(availability), method: :delete, class: 'btn btn-light' do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
           </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-1">
    </div>
    <div class="col-4 pt-5 datepicker">
      <h4>Nouveau créneau disponible</h4>
      <%= simple_form_for [:player, @availability] do |form|%>
        <%= form.input :begin_at, input_html: { id:'start_date'}, as: :string, label: "Début" %>
        <%= form.input :end_at, input_html: { id:'end_date' }, as: :string, label: "Fin" %>
        <%= form.submit "Valider" %>
      <% end %>
    </div>
  </div>
</div>








