<div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "Mes convocations",  player_convocations_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Mes disponibilités",  player_availabilities_path, class:"nav-link active" %>
      </li>
    </ul>
</div>



<div class="container py-4">
  <div class="newdispo">
    <h4>Ajouter un nouveau créneau</h4>
    <%= simple_form_for [:player, @availability], wrapper: :inline_form, html: { class: 'form-inline my-3' }  do |f| %>
      <%= f.input_field :begin_at, class: "form-control mx-2" %> jusqu'à
      <%= f.input_field :end_at, discard_day: true, discard_month: true, discard_year: true, class: "form-control mx-2" %>
      <%= f.submit "Créer", class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
  <div class="listedispo">
    <h4>Liste de mes disponibilités à venir</h4>
    <% if @availabilities.empty? %>
      <div class="pt-5 ">
        N'ayant pas précisé vos disponibilités, le juge arbitre peut vous convoquer à toute heure de la journée !
      </div>
    <% else %>

      <div class="container">
        <% @availabilities.each do |availability| %>
          <div class="row justify-content-center py-2">
            <div class="card justify-content-center col-sm">
              <div>
                <span class="text-muted">Le</span>
                <strong><%= availability.begin_at.strftime("%d.%m.%Y")%></strong>
                <span class="text-muted"> de </span>
                <%= availability.begin_at.strftime("%HH%M")%>
                <%= availability.end_at.strftime("à %HH%M")%>
              </div>
            </div>
            <div class="col-sm">
              <%= link_to player_availability_path(availability), method: :delete, class: 'btn btn-light' do %>
                  <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>

        <% end %>
      </div>
    <% end %>
  </div>
</div>










